/* textarea to show files as json */
textarea#uploaded{
    width: 100%;
    min-height: 300px;
    font-size: 1.5em;
}

/* show upload progress with bars */
.progress-bar-area{
    margin: 30px;
}
.progress{
    display: none;
    position: relative;
    width: 100%;
    height: 2em!important;
    background: #C7DA9F;
    border-radius: 2em;
    overflow: hidden;
}
.bar{
    position: absolute;
    width: 0;
    height: 2em!important;
    background: #85C220;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
.bar.red{ background: tomato; }